.App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  *{
    margin: 0;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  // $mainColor:#f96891;
  // $lightPink:rgb(255, 192, 203);
  // h1{
  //  /* background-color:$mainColor;*/
  // }
  // div{
  //   /*background-color:$lightPink;*/
  // }

  :root{
    --mainColor:#f96891;
    --lightpink:rgb(255, 192, 203);

   }
  // .styles-module_carousel-arrow__26sRw{
  //   width: 10px;
  //   height: 10px;
  //   position: relative;
  //   top:180px;
  //   // background-color:white;
  //   border: none;
  //   // display: none;


  // }


  .slider-btn{
    width: 50px;
    height: 50px;
    position: relative;
    top:180px;
    cursor: pointer;
  }
.main-sidebar{
    height: 100%;
}
